* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --primary-color: purple;
    --secondary-color: rgb(158, 4, 158);
    --teritiary-color: rebeccapurple;

}

li {
    list-style: none;
}



.main-btn {
    border-radius: 8px;
    padding: 12px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    width: 15%;
}

.main-btn:hover {
    background-color: var(--secondary-color);
}

body {
    height: 100vh;
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    border-left: 2px solid;
}

.main-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container header {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, var(--secondary-color), var(--teritiary-color));
    padding: 48px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-container > header > h1 {
    width: fit-content;
    color: white;
}

.content {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    gap: 64px;
    border-bottom: 2px solid var(--primary-color);
    padding: 16px 0;
    width: 100%;
}

.select-category {
    padding: 12px;
    min-width: 196px;
    border: none;
    outline: none;
    border-radius: 12px;
    background-color: var(--primary-color);
    color: white;
}

.input-form {
    margin: 0;
    padding: 0;
}

.input-form h4{
    margin: 0;
    padding: 0;
}

.input-value {
    margin: 0;
    padding: 0;
    border-radius: 12px;
    padding: 8px 12px;
    min-width: 196px;
}

.main-btn {
    margin: 64px;
}

.main-section {
    border: 2px solid var(--teritiary-color);
    border-radius: 12px;
    min-width: 620px;
    min-height: fit-content;
    max-width: 720px;
    padding: 16px;
    margin-bottom: 128px;
    display: flex;
    flex-direction: column;
}

.quote, .previous-quote {
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 12px;
}

.author, .categories, .quote-author {
    font-weight: 500;
    font-size: 14px;
}

.previous-quote {
    font-size: 14px;
}

.quote-author{
    font-size:11px;
}

.previous-quotes-list{
    border: 1px solid var(--primary-color);
    margin: 12px 0px;
    padding: 12px;
}

.bottom-icons {
    display: none;
    margin-top: auto;
    margin-left: auto;
    color: var(--primary-color);
}

.solid {
    fill: var(--primary-color);
    stroke: var(--primary-color);
}

.sidebar {
    padding: 32px;
    padding-top: 64px;
    max-width: 25%;
}

.expand-likes {
    margin-left: 12px;
    color: blue;
    cursor: pointer;
}

.expand-likes:hover {
    color: var(--secondary-color);
}

.liked-quotes-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 16px;

    min-width: 120px;
    max-width: 340px;
    min-height: 400px;
    display: none;
    flex-direction: column;
    overflow-y: auto;
    max-height: 80vh;

    background: var(--primary-color);
    color: white;
    border-radius: 12px;
}

.liked-quotes-box li {
    border: 2px solid white;
}

.overlay {
    display: none;
    position: fixed;
    inset: 0; /* Covers entire screen */
    background: rgba(0, 0, 0, 0.5); /* Dark semi-transparent */
    backdrop-filter: blur(5px); /* Blurs the background */
}

.close-liked-box {
  position: absolute;
  font-size: 40px;
  top: 0;
  right: 0;
  cursor: pointer;
  transform: translate(-50%, -10%);
}


.close-liked-box:hover {
    color: red;
}